


/*  GLOBAL STYLES      */
html{
  bos-sizing: border-box;
}
*, *:before, *after{
  bos-sizing: inherit;
}
body{
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
a {
  background: #A01A7D;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;inke
}

a:hover{
  text-decoration: none;
  background: #F4D35E;
}
a:active{
  background: white;
}
.size1{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.size2{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
h3{
  margin-bottom: 0;
}
h2{
  margin:0;
}
h3 + p{
  font-style: italic;
}
h3 ~ p{
  margin: 0;
}
/*  PROFILE     */
header {
background-image: url(../images/intro.jpg);
  color: #F7FFF7;


}
/*  PROJECTS     */
.project{
background-image: url(../images/project.jpg);
}
.project a {
  color: #F4F3EE;
    padding: 8px;
}

/*  WORK EXPERIENCE    */
.work{
      background-image: url(../images/wwork.jpg);
      background-size: cover;
        background-position: bottom right;
}
.work a {
    color: #F4F3EE;
      padding: 8px;

}



/*  EDUCATION */
.education{
background-image: url(../images/pereducatio.jpg);
  background-size: cover;
  background-position: top left;
  padding: 50px;
}
.education p{
  width: 60%;
}

/*  CONTACT INFORMATION   */
footer {
  background: #343434;
  color: #F7FFF7;

}
footer a {
    color: #F4F3EE;
}
h1, h2{
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
p{
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}
h1{
  font-size: 100px;
  line-height: 1;
  margin-bottom: 20px;
}
h2{
  font-size: 45px;
}
 img{
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  width: 300px
}
.layout{
  overflow: hidden;
}
.contact{
  list-style-type: none;
  padding: 0;

}
.contact a {
  padding: 15px;
  display: inline-block;
}
.pub{
  font-style: normal;
}
.publication{
  background-image: url(../images/pattern.jpg);
    background-position: right bottom;
}
.divider{
  border-top: 1px dashed black;
}
/*  RESPONSIVE    */
@media screen and (min-width:600px){
  header, footer{
      text-align: center;
  }
  .job-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:599px){
  h1{
    font-size: 75px;
  }
  h1, h2{
    line-height: 1;
  }
  .contact a {
    padding: 5px;
  }
}
